<div>
    <div class="form">
        <h4>Enter the message bitch</h4>
        <input 
            type="text" 
            placeholder="title" 
            [(ngModel)]="title"
            #titleInput
        >
        <input 
            type="text" 
            placeholder="text" 
            [(ngModel)]="text"
        >
        <button 
            class="btn btn-success" 
            (click)="addPost()"
        >Send the post</button>
        <button 
        class="btn btn-info" 
            (click)="focusTitle()"
        >Focus title</button>
    </div>
</div>
